@using TestProjectWeb.Models
@model List<UserViewModel>

<div>
    <div>
        All users:
    </div>
    <div>          
        @foreach (var user in Model)
        {
            <div> 
                <span> User: @user.Name </span>
                <a asp-area="" asp-controller="Account" asp-action="DeleteAccount" asp-route-id="@user.Id">Delete</a>
            </div>
        }   
    </div>  
</div>