@model LoginViewModel

<div class="login">
    Login
     <form method="post" asp-controller="Account" asp-action="Login" asp-antiforgery="true">
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
        </div>
        <div>
            <label asp-for="Password"></label>
            <input type="text" asp-for="Password" />
        </div>

        <div>
            <input type="submit" value="Login" />
        </div>
     </form>
     <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
     <a asp-area="" asp-controller="Home" asp-action="Index">Back</a>
</div>