@model LoginViewModel

<div class="login">
    <div class="login-title">
        Login
    </div>
    <form method="post" asp-controller="Account" asp-action="Login" asp-antiforgery="true">
        <div class="login-fields">
            <div>
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" />
            </div>
            <div>
                <label asp-for="Password"></label>
                <input type="text" asp-for="Password" />
            </div>
        </div>
        <div class="login-buttons">
            <div>
                <input type="submit" value="Login" />
            </div>
            <div>
                OR
            </div>
            <div>
                <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </div>
        </div>
    </form>
</div>