@model RegisterViewModel

<div class="Register">
    Register
     <form method="post" asp-controller="Account" asp-action="Register" asp-antiforgery="true">
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
        </div>
        <div>
            <label asp-for="Password"></label>
            <input type="text" asp-for="Password" />
        </div>

        <div>
            <input type="submit" value="Register" />
        </div>
     </form>
     <a asp-area="" asp-controller="Home" asp-action="Index">Back</a>
</div>