@model RegisterViewModel

<div>
    <div>
        Register
    </div>
    <form method="post" asp-controller="Account" asp-action="Register" asp-antiforgery="true">
        <div>
            <div>
                <div>
                    <label asp-for="Name"></label>
                    <span asp-validation-for="Name"></span>
                </div>
                <div>
                    <input type="text" asp-for="Name" />
                </div>
            </div>
            <div>
                <div>
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <input type="password" asp-for="Password" />
                </div>
            </div>
        </div>
        <div>
            <div>
                <input type="submit" value="Register" />
            </div>
            <div>
                <a asp-area="" asp-controller="Account" asp-action="Login">Back</a>
            </div>
        </div>
    </form>
</div>