@model WordViewModel
@using TestProjectWeb.Data.Enums
@inject TestProjectWeb.Services.UserService _userService

<div class="parent-for-all-fields">
    <div class="fields">
        <div class="fields-title">
            Edit
        </div>
        <form method="post" asp-controller="Word" asp-action="EditWord" asp-antiforgery="true">
            <div>
                <div>
                    <label asp-for="Value"></label>
                    <span asp-validation-for="Value"></span>
                </div>
                <div>
                    <input type="text" asp-for="Value" />
                </div>
            </div>
            <div>
                <div>
                    <label asp-for="Translation"></label>
                    <span asp-validation-for="Translation"></span>
                </div>
                <div>
                    <input type="text" asp-for="Translation" />
                </div>
            </div>
            <div>
                <div>
                    <label for="user-categories-choice" asp-for="Category"></label>
                    <span asp-validation-for="Category"></span>
                </div>
                <div>
                    <input list="user-categories" id="user-categories-choice" type="text" asp-for="Category" />
                </div>
            </div>
            <div>
                <div>
                    <label asp-for="PartOfSpeech"></label>
                </div>
                <div>
                    <select asp-for="PartOfSpeech" asp-items="Html.GetEnumSelectList<PartsOfSpeech>()">
                    </select>
                </div>
            </div>
            <div>
                <input type="submit" value="Edit" />
            </div>
        </form>
        <a asp-area="" asp-controller="Profile" asp-action="Profile">Back</a>
    </div>
</div>

<datalist id="user-categories">
    @foreach (var category in _userService.GetAllUserCategories())
    {
        <option value="@category">@category</option>
    }
</datalist>