.allUsers {
    margin: 0 15px;
}

.allUsers-content-table {
    margin-top: 10px;
}

.allUsers-content-table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.allUsers-content-table-row-title {
    color: azure;
    background-color: #336e85;
    padding: 10px;
}

.allUsers-content-table-row-item {
    background-color: #4fbbe5;
    padding: 10px;
}

    .allUsers-content-table-row-item a {
        color: azure;
    }

.allUsers-users-table-columns {
    grid-template-columns: repeat(6, 1fr);
}