.login {
    display: grid;
    grid-template-columns: minmax(100px, auto);
    justify-content: center;
}

.login-title {
    display: grid;
    font-size: 30px;
    justify-items: center;
}

.login-fields {
    display: grid;
    grid-template-columns: 0.5fr;
}

.login-fields div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
}

.login-buttons div {
    display: grid;
    justify-content: space-around;
}