.profile{
    display: grid;
    grid-template-columns: minmax(150px, auto) 1fr;
    gap: 10px;
}

.profile div{
    margin: 3px;
    padding: 1.5px;
    border: 1px solid black;
}

.profile-side{
    align-items: center;
    grid-template-rows: 2fr 1fr;
    align-self: start;
}

.profile-content {
    
}
.profile-content-sort{

}
.profile-content-table-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}