/*current user profile styles*/
.profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    margin: 0 15px;
}

.profile-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    color: black;
    background-color: #4fbbe5;
    border-radius: 10px;
    align-self: start;
}

.profile-side-info {
    margin-left: 10px;
}

.profile-side-actions {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-left: 10px;
}

.profile-side-links {
    margin-left: 10px;
    border-top: 3px solid #336e85;
}

.profile-content-search {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-gap: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #4fbbe5;
    margin-bottom: 10px;
}

.profile-word-table-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.profile-options {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #00000026;
    width: 100%;
    height: 100%;
}

.profile-options-window {

    border-radius: 10px;
    width: 500px;
    height: 500px;
    background-color: #4fbbe5;
    margin: 50px auto;
}

.profile-options-header {
    border-radius: 10px;
    background-color: #336e85;
    text-align: center;
}

.delete-account {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #00000026;
    width: 100%;
    height: 100%;
}
.delete-account-window {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background-color: #4fbbe5;
    margin: 50px auto;
}



/*User profile styles*/
.user-word-table-columns{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}