.register {
    display: grid;
    grid-template-columns: minmax(100px, auto);
    justify-content: center;
}

.register-title {
    display: grid;
    font-size: 30px;
    justify-items: center;
}

.register-fields {
    display: grid;
    grid-template-columns: 0.5fr;
}

.register-fields div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.register-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.register-buttons div {
    display: grid;
    justify-content: space-around;
}