@model List<QuizViewModel>

<div>
    Mu quizzes!!!
    <div>
        @foreach (var quiz in Model)
        {
            <div>
                quiz id: @quiz.Id---quiz title: @quiz.Title
                <a asp-controller="Quiz" asp-action="PlayQuiz" asp-route-id="@quiz.Id">Play</a>
                <a asp-controller="Quiz" asp-action="DeleteQuiz" asp-route-id="@quiz.Id">Delete</a>
            </div>
        }
    </div>
</div>
<div>
    <a asp-controller="Quiz" asp-action="CreateQuiz">Create quiz</a>
</div>