@model List<QuizViewModel>

<div>
    Mu quizzes!!!
    <div>
        @foreach (var quiz in Model)
        {
            <div>
                quiz id: @quiz.Id---quiz title: @quiz.Title
            </div>
        }
    </div>
</div>
<div>
    <a asp-controller="Quiz" asp-action="CreateQuiz">Create quiz</a>
</div>