
<div class="index">
    <div class="index-title">
        Welcome to the TestProjectWeb
    </div>
    <div class="index-content">
        <div>
            <div>
                With this WebApp you can improve your vocabulary list.
            </div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Pharetra convallis posuere morbi leo urna molestie at elementum eu.
                Mattis nunc sed blandit libero volutpat sed cras ornare.
                <div>
                    Aliquet nibh praesent tristique magna sit amet purus gravida quis.
                    Praesent elementum facilisis leo vel fringilla est ullamcorper.
                    Turpis nunc eget lorem dolor sed viverra ipsum nunc.
                    Praesent tristique magna sit amet purus gravida quis blandit turpis.
                </div>
                Sapien faucibus et molestie ac feugiat sed.
                Eu facilisis sed odio morbi quis commodo odio. Vitae et leo duis ut diam quam.
            </div>
        </div>
        <div>
            <div>
                If you have an account you can <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                or If its first time when you use this WebApp
                you can <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut sem nulla pharetra diam sit amet nisl suscipit.
                <div>
                    Massa tincidunt dui ut ornare. Et ultrices neque ornare aenean euismod elementum.
                    Enim praesent elementum facilisis leo vel fringilla est ullamcorper eget.
                    Pharetra massa massa ultricies mi quis hendrerit.
                </div>
                Augue neque gravida in fermentum et sollicitudin.
            </div>
        </div>
    </div>
</div>
