@section Scripts {
    <link rel="stylesheet" href="~/css/homeIndex.css"/>
}

<div class="title">
    Welcome to the TestProjectWeb
</div>

<div class="content">
    <div>
        With this WebApp you can improve your vocabulary list.
    </div>
    <div>
        If you have an account you can sign in <a href="#">Sign in</a>
        or If its first time when you use this WebApp
        you can register <a href="#">Create account</a>
    </div>
</div>
