@using TestProjectWeb.Models
@model List<UserViewModel>

<div class="user-index-container">
    <div class="user-index-title">
        All users:
    </div>
    <div class="user-index-list">          
        @foreach (var user in Model)
        {
            <div class="user-index-list-item"> 
                <span class="user-index-list-item-name"> User: @user.Name </span>
                <a class="user-index-list-item-link" asp-area="" asp-controller="User" asp-action="DeleteUser" asp-route-id="@user.Id">Delete</a>
            </div>
        }   
    </div>    
    <div class="user-index-button">
        <a asp-area="" asp-controller="User" asp-action="CreateUser">Create user</a>
    </div>
</div>